#tvlistings {
	table{
		tr{
			td{
				height: 120px;
			}
		}
	}
}
td.anime{
	color: black;
	background-color:Yellow;
}
td.cinema{
	color: black;
	background-color:Violet;
}

td.news{
	color: black;
	background-color:LightSkyblue;
}
td.information{
	color: black;
	background-color:LightBlue;
}
td.variety{
	color: black;
	background-color:LightGreen;
}
td.drama{
	color: black;
	background-color:LightCoral;
}
td.sports{
	color: black;
	background-color:LightCyan;
}
td.music{
	color: black;
	background-color:LightSeaGreen;
}
td.etc{
	color: black;
	background-color:LightPink;
}

td.timebetween01{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Black;
}
td.timebetween02{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Black;
}
td.timebetween03{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Black;
}
td.timebetween04{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Black;
}
td.timebetween05{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Black;
}
td.timebetween06{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:SteelBlue;
}
td.timebetween07{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:SteelBlue;
}
td.timebetween08{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:SteelBlue;
}
td.timebetween09{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:SteelBlue;
}
td.timebetween10{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:SteelBlue;
}
td.timebetween11{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:SteelBlue;
}
td.timebetween12{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:DarkBlue;
}
td.timebetween13{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:DarkBlue;
}
td.timebetween14{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:DarkBlue;
}
td.timebetween15{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:DarkBlue;
}
td.timebetween16{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:DarkBlue;
}
td.timebetween17{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:DarkBlue;
}
td.timebetween18{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Indigo;
}
td.timebetween19{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Indigo;
}
td.timebetween20{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Indigo;
}
td.timebetween21{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Indigo;
}
td.timebetween22{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Indigo;
}
td.timebetween23{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Indigo;
}
td.timebetween00{
	text-align:center;
	vertical-align:middle;
	color: white;
	background-color:Black;
}

.marquee {
	width: 700px;
	overflow: hidden;
	border:none;
	color: palegreen;
}
