
<!DOCTYPE html>

<html>
<head>
<title></title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.bottom-1.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jQuery.ajaxQueue.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.marquee.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/tvlistings.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/timetable.js")" type="text/javascript"></script>

<script>
nowTime = new Date()
prependTime = new Date()
appendTime = new Date()
$(function() {
	nowTime = new Date(2013, 8, 28, 10, 0, 0);
	prependTime = new Date(2013, 8, 28, 10, 0, 0);
	appendTime = new Date(2013, 8, 28, 10, 0, 0);
	prependTime = new Date(prependTime.getTime() - (1000 * 60 * 60 * 4))
	appendTime = new Date(appendTime.getTime() + (1000 * 60 * 60 * 4))

	createTimeTable( nowTime.getTime(), "#tvlistingTime")
	prependTimeTable("#tvlistingTime")
	appendTimeTable("#tvlistingTime")
	scrollBy( 0, 960);
	
	json27 = new tvlistings( "#tvlistingGR27", "27", 240, 240 * 4);
	json27.getChannelName("#title1","27")
	json26 = new tvlistings( "#tvlistingGR26", "26", 240, 240 * 4);
	json27.getChannelName("#title2","26")
	json25 = new tvlistings( "#tvlistingGR25", "25", 240, 240 * 4);
	json27.getChannelName("#title3","25")
	json24 = new tvlistings( "#tvlistingGR24", "24", 240, 240 * 4);
	json27.getChannelName("#title4","24")
	json23 = new tvlistings( "#tvlistingGR23", "23", 240, 240 * 4);
	json27.getChannelName("#title5","23")
	json22 = new tvlistings( "#tvlistingGR22", "22", 240, 240 * 4);
	json27.getChannelName("#title6","22")
	json21 = new tvlistings( "#tvlistingGR21", "21", 240, 240 * 4);
	json27.getChannelName("#title7","21")
	json20 = new tvlistings( "#tvlistingGR20", "20", 240, 240 * 4);
	json27.getChannelName("#title8","20")

	prevTime = new Date(nowTime.getTime() - (1000 * 60 * 60 * 4))
	nextTime = new Date(nowTime.getTime() + (1000 * 60 * 60 * 4))

	json27.createListingTable(nowTime)
	json27.prependTr(prependTime)
	json27.appendTr(nextTime)

	json26.createListingTable(nowTime)
	json26.prependTr(prependTime)
	json26.appendTr(nextTime)

	json25.createListingTable(nowTime)
	json25.prependTr(prependTime)
	json25.appendTr(nextTime)

	json24.createListingTable(nowTime)
	json24.prependTr(prependTime)
	json24.appendTr(nextTime)

	json23.createListingTable(nowTime)
	json23.prependTr(prependTime)
	json23.appendTr(nextTime)

	json22.createListingTable(nowTime)
	json22.prependTr(prependTime)
	json22.appendTr(nextTime)

	json21.createListingTable(nowTime)
	json21.prependTr(prependTime)
	json21.appendTr(nextTime)

	json20.createListingTable(nowTime)
	json20.prependTr(prependTime)
	json20.appendTr(nextTime)

	$(window).bind("scroll", function() {
		scrollHeight = $(document).height();
		scrollPosition = $(window).height() + $(window).scrollTop();
		if (!json20.getLoading() 
			&& !json21.getLoading() 
			&& !json22.getLoading() 
			&& !json23.getLoading() 
			&& !json24.getLoading() 
			&& !json25.getLoading() 
			&& !json26.getLoading() 
			&& !json27.getLoading() 
			&& (scrollHeight - scrollPosition) / scrollHeight <= 0.4
			) {

			appendTime = new Date(appendTime.getTime() + (1000 * 60 * 60 * 4))
			appendTimeTable("#tvlistingTime")
			json27.appendTr( appendTime)
			json26.appendTr( appendTime)
			json25.appendTr( appendTime)
			json24.appendTr( appendTime)
			json23.appendTr( appendTime)
			json22.appendTr( appendTime)
			json21.appendTr( appendTime)
			json20.appendTr( appendTime)
		}
		if (!json20.getLoading() 
				&& !json21.getLoading() 
				&& !json22.getLoading() 
				&& !json23.getLoading() 
				&& !json24.getLoading() 
				&& !json25.getLoading() 
				&& !json26.getLoading() 
				&& !json27.getLoading() 
				&& (scrollHeight - scrollPosition) / scrollHeight >= 0.6
				) {
			prependTime = new Date(prependTime.getTime() - (1000 * 60 * 60 * 4))
			prependTimeTable( "#tvlistingTime")
			json27.prependTr( prependTime)
			json26.prependTr( prependTime)
			json25.prependTr( prependTime)
			json24.prependTr( prependTime)
			json23.prependTr( prependTime)
			json22.prependTr( prependTime)
			json21.prependTr( prependTime)
			json20.prependTr( prependTime)
			scrollBy( 0, 960)
		}
		else {
		}
	});
});
</script>
		
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active" style="font-size:small;">
							<a href="#">地上</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">BS</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">CS</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">My Listings</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">予約一覧</a>
						</li>
						<li class="active" style="font-size:small;">
							<a data-toggle="modal" href="#config">設定</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">
								<div id="infoTime">
								</div>
							</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">
								<div class='marquee'></div>
 							</a>
						</li>
					</ul>
				</div>
			</div>
			<table>
			<tr>
			<td style="width:30px"></td>
			<td id="title1" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title2" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title3" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title4" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title5" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title6" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title7" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			<td id="title8" style="text-align:center;font-size:x-small;color:white;width:140px"></td>
			</tr>
			</table>
		</div>
	</div>
	<table id="tvlistingTime" class="table table-bordered table-condensed">
	</table>
	<table id="tvlistingGR27" class="table table-bordered table-condensed">
	</table>
	<table id="tvlistingGR26" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR25" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR24" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR23" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR22" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR21" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR20" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR18" class="table table-bordered table-condensed">
	</table>

	<div id="config" class="modal hide">
		<form class="form-horizontal">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3>設定</h3>
			</div>
			<div class="modal-body">
				<h4>イベント設定</h4>
				<p>
					<div class="control-group">
						<label class="control-label" for="listingsGetStartH">番組表取得時間</label>
						<div class="controls">
							<input class="input-mini focused" id="listingsGetStartH"
								type="text" value="">:
							<input class="input-mini focused" id="listingsGetStartM"
								type="text" value="">
						</div>
					</div>
				</p>

				<h4>ディレクトリ設定</h4>
				<p>
					<div class="control-group">
						<label class="control-label" for="recordFileSaveDir">録画ファイル保存先</label>
						<div class="controls">
							<input class="input-large focused" id="recordFileSaveDir"
								type="text" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="listingsFileSaveDir">番組表ファイル保存先</label>
						<div class="controls">
							<input class="input-large focused" id="listingsFileSaveDir"
								type="text" value="">
						</div>
					</div>
				</p>

			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-primary">変更を保存する</a> <a href="#"
					class="btn" data-dismiss="modal">閉じる</a>
			</div>
		</form>
	</div>


</body>
</html>


