
<!DOCTYPE html>

<html>
<head>
<title></title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.bottom-1.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jQuery.ajaxQueue.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.marquee.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/json.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/timetable.js")" type="text/javascript"></script>

<script>
nowTime = new Date()
prependTime = new Date()
appendTime = new Date()
$(function() {
	nowTime = new Date(2013, 8, 28, 10, 0, 0);
	prependTime = new Date(2013, 8, 28, 10, 0, 0);
	appendTime = new Date(2013, 8, 28, 10, 0, 0);

	createTimeTable( nowTime.getTime(), "#tvlistingTime")
	prependTimeTable("#tvlistingTime")
	appendTimeTable("#tvlistingTime")
	scrollBy( 0, 960);
	
	json27 = new Json( "#tvlistingGR27");
	json26 = new Json( "#tvlistingGR26");
	json25 = new Json( "#tvlistingGR25");
	json24 = new Json( "#tvlistingGR24");
	json23 = new Json( "#tvlistingGR23");
	json22 = new Json( "#tvlistingGR22");
	json21 = new Json( "#tvlistingGR21");
	json20 = new Json( "#tvlistingGR20");

	prevTime = new Date(nowTime.getTime() - (1000 * 60 * 60 * 4))
	nextTime = new Date(nowTime.getTime() + (1000 * 60 * 60 * 4))

	json27.createListingTable( getJsonURL(nowTime, 240, "27"), nowTime)
	json27.prependTr( getJsonURL(prevTime, 240, "27"), 240 * 4)
	json27.appendTr( getJsonURL(nextTime, 240, "27"))

	json26.createListingTable( getJsonURL(nowTime, 240, "26"), nowTime)
	json26.prependTr( getJsonURL(prevTime, 240, "26"), 240 * 4)
	json26.appendTr( getJsonURL(nextTime, 240, "26"))

	json25.createListingTable( getJsonURL(nowTime, 240, "25"), nowTime)
	json25.prependTr( getJsonURL(prevTime, 240, "25"), 240 * 4)
	json25.appendTr( getJsonURL(nextTime, 240, "25"))

	json24.createListingTable( getJsonURL(nowTime, 240, "24"), nowTime)
	json24.prependTr( getJsonURL(prevTime, 240, "24"), 240 * 4)
	json24.appendTr( getJsonURL(nextTime, 240, "24"))

	json23.createListingTable( getJsonURL(nowTime, 240, "23"), nowTime)
	json23.prependTr( getJsonURL(prevTime, 240, "23"), 240 * 4)
	json23.appendTr( getJsonURL(nextTime, 240, "23"))

	json22.createListingTable( getJsonURL(nowTime, 240, "22"), nowTime)
	json22.prependTr( getJsonURL(prevTime, 240, "22"), 240 * 4)
	json22.appendTr( getJsonURL(nextTime, 240, "22"))

	json21.createListingTable( getJsonURL(nowTime, 240, "21"), nowTime)
	json21.prependTr( getJsonURL(prevTime, 240, "21"), 240 * 4)
	json21.appendTr( getJsonURL(nextTime, 240, "21"))

	json20.createListingTable( getJsonURL(nowTime, 240, "20"), nowTime)
	json20.prependTr( getJsonURL(prevTime, 240, "20"), 240 * 4)
	json20.appendTr( getJsonURL(nextTime, 240, "20"))

	$(window).bind("scroll", function() {
		scrollHeight = $(document).height();
		scrollPosition = $(window).height() + $(window).scrollTop();
		if (!json20.getLoading() 
			&& !json21.getLoading() 
			&& !json22.getLoading() 
			&& !json23.getLoading() 
			&& !json24.getLoading() 
			&& !json25.getLoading() 
			&& !json26.getLoading() 
			&& !json27.getLoading() 
			&& (scrollHeight - scrollPosition) / scrollHeight <= 0.4
			) {

			appendTime = new Date(appendTime.getTime() + (1000 * 60 * 60 * 4))
			appendTimeTable("#tvlistingTime")
			json27.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "27"))
			json26.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "26"))
			json25.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "25"))
			json24.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "24"))
			json23.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "23"))
			json22.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "22"))
			json21.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "21"))
			json20.appendTr( getJsonURL(new Date(appendTime.getTime() + (1000 * 60 * 60 * 4)), 240, "20"))
		}
		if (!json20.getLoading() 
				&& !json21.getLoading() 
				&& !json22.getLoading() 
				&& !json23.getLoading() 
				&& !json24.getLoading() 
				&& !json25.getLoading() 
				&& !json26.getLoading() 
				&& !json27.getLoading() 
				&& (scrollHeight - scrollPosition) / scrollHeight >= 0.6
				) {
			prependTime = new Date(prependTime.getTime() - (1000 * 60 * 60 * 4))
			prependTimeTable( "#tvlistingTime")
			json27.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "27"), 240 * 4)
			json26.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "26"), 240 * 4)
			json25.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "25"), 240 * 4)
			json24.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "24"), 240 * 4)
			json23.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "23"), 240 * 4)
			json22.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "22"), 240 * 4)
			json21.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "21"), 240 * 4)
			json20.prependTr( getJsonURL(new Date(prependTime.getTime() - (1000 * 60 * 60 * 4)), 240, "20"), 240 * 4)
			scrollBy( 0, 960)

		}
		else {
		}
	});
});
</script>
		
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active" style="font-size:small;">
							<a href="#">地上</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">BS</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">CS</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">予約一覧</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">設定</a>
						</li>
						<li class="active" style="font-size:small;">
							<a href="#">
								<div class='marquee'></div>
 							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<table id="tvlistingTime" class="table table-bordered table-condensed">
	</table>
	<table id="tvlistingGR27" class="table table-bordered table-condensed">
	</table>
	<table id="tvlistingGR26" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR25" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR24" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR23" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR22" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR21" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR20" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR18" class="table table-bordered table-condensed">
	</table>
</body>
</html>


