
<!DOCTYPE html>

<html>
<head>
<title></title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.bottom-1.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/json.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/timetable.js")" type="text/javascript"></script>

<script>
nowTime = new Date()
$(function() {
	nowTime.setMinutes(0)
	nowTime.setSeconds(0)

	json27 = new Json(getJsonURL(nowTime, 240, "27"));
	json27.setTable("#tvlistingGR27")
	
/*
	json26 = new Json(getJsonURL(nowTime, 480, "26"));
	json26.setTable("#tvlistingGR26")
	
	json25 = new Json(getJsonURL(nowTime, 480, "25"));
	json25.setTable("#tvlistingGR25")

	json24 = new Json(getJsonURL(nowTime, 480, "24"));
	json24.setTable("#tvlistingGR24")

	json23 = new Json(getJsonURL(nowTime, 480, "23"));
	json23.setTable("#tvlistingGR23")

	json22 = new Json(getJsonURL(nowTime, 480, "22"));
	json22.setTable("#tvlistingGR22")

	json21 = new Json(getJsonURL(nowTime, 480, "21"));
	json21.setTable("#tvlistingGR21")

	json20 = new Json(getJsonURL(nowTime, 480, "20"));
	json20.setTable("#tvlistingGR20")
	
	json18 = new Json(getJsonURL(nowTime, 480, "18"));
	json18.setTable("#tvlistingGR18")
*/	
	createTimeTable( nowTime.getTime(), "#tvlistingTime")
	prependTimeTable("#tvlistingTime")
	appendTimeTable("#tvlistingTime")

	$(window).bind("scroll", function() {
		scrollHeight = $(document).height();
		scrollPosition = $(window).height() + $(window).scrollTop();
		if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.1) {
			nowTime = new Date(nowTime.getTime() + (1000 * 60 * 60 * 4))
			appendTimeTable("#tvlistingTime")
			dropFirstTimeTable("#tvlistingTime")
			scrollBy( 0, -960);

//			json27 = new Json(getJsonURL(nowTime, 240, "27"));
//			json27.appendTr("#tvlistingGR27")
		}
		else if ( (scrollHeight - scrollPosition) / scrollHeight >= 0.7) {
			nowTime = new Date(nowTime.getTime() - (1000 * 60 * 60 * 4))
			prependTimeTable( "#tvlistingTime")
			dropLastTimeTable("#tvlistingTime")
			scrollBy( 0, 960);
			
//			json27 = new Json(getJsonURL(nowTime, 240, "27"));
//			json27.prependTr("#tvlistingGR27")
		}
		else {
		}
	});
	
	scrollBy( 0, 960);

});
</script>

</head>
<body>
	<table id="tvlistingTime" class="table table-bordered table-condensed">
	</table>
	<table id="tvlistingGR27" class="table table-bordered table-condensed">
	</table>
	<table id="tvlistingGR26" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR25" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR24" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR23" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR22" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR21" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR20" class="table table-bordered table-condensed">
	</table>

	<table id="tvlistingGR18" class="table table-bordered table-condensed">
	</table>

</body>
</html>


